.orders-page-container {
    padding-bottom: 40px;
}

.user-purchase {
    /* margin-bottom: 40px; */
}
.user-purchase__menu {
    background-color: var(--white-color);
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.user-purchase__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform:capitalize;
    padding: 16px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}

.user-purchase__link:hover {
    color: var(--primary-color);
    transition: color 0.2s;
}

.user-purchase__link--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.user-purchase__search {
    background-color: #eaeaea;
    padding: 12px 0;
    display: flex;
    border-radius: 2px;
}

.user-purchase__search-icon {
    font-size: 2rem;
    padding: 0 16px;
    color: #c2c2c2;
}

.user-purchase__search-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    flex: 1;
    background-color: #eaeaea;
    color: #757575;
}

.user-purchase__search-input:focus ~ .user-purchase__search-icon {
    color: #000;
}

/*  */

.user-purchase__order-wrap {
    margin-top: 12px
}

.user-purchase__order__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.order__header__shop {
    display: flex;
}

.shop--mall {
    color: var(--white-color);
    background-color: #D0011B;
    line-height: 1rem;
    height: 1.5rem;
    font-size: 1.2rem;
    padding: 3px 4px;
    border-radius: 2px;
    font-weight: 500;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.order__header__shop-name {
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 10px;
    position: relative;
    top: 3px;   
}

.btn-chat {
    padding: 4px 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    border: none;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-chat:hover {
    background-color: #D73211;
}

.btn-shop-visit {
    padding: 4px 8px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    color: #868686;
    font-size: 1.2rem;
    border-radius: 2px;
    cursor: pointer;
}

.btn-shop-visit:hover {
    background-color: #fafafa;
}

.user-purchase__order {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 24px 24px 0;
}

.user-purchase__order__status{
    font-size: 1.4rem;
    display: flex;
    align-items: center;

}

.order__status--success-msg {
    color: #26AA99;
    margin-right: 6px;
    cursor: pointer;
}

.order__status--success-msg__on-mobile-tablet {
    display: none;
}

.order__status-done {
    color: var(--primary-color);
    padding: 0 8px;
    border-left: 1px solid #e0e0e0;
    margin-left: 6px;
}


.order__detail {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid var(--border-color);
    text-decoration: none;
}

.order__detail__sub {
    display: flex;
    justify-content: space-between;
}

.order__detail-img {
    width: 80px;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
    margin-right: 10px;
}

.order__detail-info {
    flex: 1;
}

.order__detail-info-title {
    padding-left: 12px;
}

.order__detail__name {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.order__detail__classify {
    font-size: 1.3rem;
    color: #8e8e8e;
    margin: 4px 0;
}

.order__detail__quantity {
    font-size: 1.3rem;
    margin: 0;
}

.order__detail__price {
    padding: 12px 0;
}


.order__detail__price-old.home-product-item__price-old,
.order__detail__price-current.home-product-item__price-current {
    font-size: 1.4rem;

}


.order__detail__manipulation {
    background-color: #FFFEFB;
    border-radius: 2px;
    padding: 24px 24px;
    margin-top: 1px;
}

.order__detail-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order__detail-total__icon {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.order__detail-total span{
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 0 4px;
}

.order__detail-total-price {
    color: var(--primary-color);
    font-size: 2.1rem;
    margin: 0;
}

.order__detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.order__detail-bottom p{
    color: #8e8e8e;
    font-size: 1.2rem;
}

.order__detail-bottom-btn .btn--normal {
    border: 1px solid var(--border-color);
}

.mg-6 {
    margin: 0 6px;
}

.order__detail-on-mobie {
    display: none;
}

